repos:
  - repo: https://github.com/errata-ai/vale
    rev: v3.13.0
    hooks:
      - id: vale
        name: vale sync
        pass_filenames: false
        args: [sync]
      - id: vale
        args: [--output=line, --minAlertLevel=error]
